<p class='country-list__capital'><span class="acсent">Capital:</span> {{capital}}.</p>
<p class='country-list__population'><span class="acсent">Population:</span> {{population}}.</p>
<p class='country-list__languages'><span class="acсent">Languages:</span> {{#each languages}}
    <span>{{this}}.</span>
    {{/each}}
</p>